In [1]:
# Importing the required libraries and dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Importing the school data
# Setting the path of the csv file
data_file = Path("./data/hd2020.csv")
df_schools = pd.read_csv(
    data_file,
    index_col=False
)

In [3]:
# Importing the program data
# Setting the path of the csv file
data_file = Path("./data/ic2020_py.csv")
df_programs = pd.read_csv(data_file,sep=',', index_col=False)

In [4]:
# Importing the Programs List
# Setting the path of the csv file
data_file = Path("./data/ProgramsList.csv")
# Importing the data file and setting the date column as the index column.
df_programslist = pd.read_csv(data_file,sep=',', index_col=False)

In [5]:
# Importing the completions data by program
# Setting the path of the csv file
data_file = Path("./data/c2020_a.csv")
df_completions = pd.read_csv(data_file,sep=',', index_col=False)

In [6]:
df_completions

,UNITID,CIPCODE,MAJORNUM,AWLEVEL,XCTOTALT,CTOTALT,XCTOTALM,CTOTALM,XCTOTALW,CTOTALW,...,XCUNKNM,CUNKNM,XCUNKNW,CUNKNW,XCNRALT,CNRALT,XCNRALM,CNRALM,XCNRALW,CNRALW
0,100654,1.0999,1,5,R,3,Z,0,R,3,...,Z,0,R,1,Z,0,Z,0,Z,0
1,100654,1.1001,1,5,R,7,R,2,R,5,...,Z,0,Z,0,Z,0,Z,0,Z,0
2,100654,1.1001,1,7,R,4,R,0,R,4,...,Z,0,Z,0,R,2,R,0,R,2
3,100654,1.1001,1,17,R,2,R,2,R,0,...,Z,0,Z,0,R,1,R,1,R,0
4,100654,1.9999,1,5,R,6,R,4,R,2,...,R,1,R,0,Z,0,Z,0,Z,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289787,496423,12.0413,1,21,R,0,R,0,R,0,...,R,0,R,0,R,0,R,0,R,0
289788,496423,12.0414,1,2,R,1,R,0,R,1,...,R,0,R,0,R,0,R,0,R,0
289789,496423,51.3501,1,21,R,0,R,0,R,0,...,R,0,R,0,R,0,R,0,R,0
289790,496423,99.0000,1,2,R,2,R,0,R,2,...,R,0,R,0,R,0,R,0,R,0
289791,496423,99.0000,1,21,R,4,R,0,R,4,...,R,0,R,0,R,0,R,0,R,0

In [22]:
#Slice completions data for just the institution and the program
df_degrees = df_completions.loc[:,["UNITID","CIPCODE"]]
#Drop duplicates to create a list of unique institution-program combinations
df_degrees=df_degrees.drop_duplicates()

In [23]:
#Review programs list. It is a crosswalk between occupations and programs.
df_programslist

,CIPCODE,CIPTitle,SOC,SOCTitle
0,51.3801,Registered Nursing/Registered Nurse,29-1141.01,Acute Care Nurses
1,51.3802,Nursing Administration,29-1141.01,Acute Care Nurses
2,51.3803,Adult Health Nurse/Nursing,29-1141.01,Acute Care Nurses
3,51.3805,Family Practice Nurse/Nursing,29-1141.01,Acute Care Nurses
4,51.3806,Maternal/Child Health and Neonatal Nurse/Nursing,29-1141.01,Acute Care Nurses
...,...,...,...,...
241,11.0902,Cloud Computing,15-1241.01,Telecommunications Engineering Specialists
242,11.1001,Network and System Administration/Administrator,15-1241.01,Telecommunications Engineering Specialists
243,11.1003,Computer and Information Systems Security/Audi...,15-1241.01,Telecommunications Engineering Specialists
244,14.0901,"Computer Engineering, General",15-1241.01,Telecommunications Engineering Specialists
245,14.0999,"Computer Engineering, Other",15-1241.01,Telecommunications Engineering Specialists

In [24]:
# Change the column name for CIPCODE so it matches the other dataframes.
df_programslist.rename(columns = {'CIPCode':'CIPCODE'}, inplace = True)

In [25]:
#Filtered the schools dataframe to get a list of Charlotte CBSA schools
df_NCschools = df_schools.loc[(df_schools["CBSA"] == 16740),["UNITID","INSTNM"]]

In [26]:
#Reivew the NC Schools list
df_NCschools

      UNITID                                             INSTNM
2386  197850                   South Piedmont Community College
2391  197984                              Belmont Abbey College
2397  198109                Cabarrus College of Health Sciences
2401  198190                    Carolina School of Broadcasting
2403  198215                                    Catawba College
2406  198260                 Central Piedmont Community College
2412  198385                                   Davidson College
2423  198570                                     Gaston College
2433  198756                         Johnson C Smith University
2439  198862                                Livingstone College
2448  198987                         Mitchell Community College
2458  199139          University of North Carolina at Charlotte
2472  199412                     Queens University of Charlotte
2479  199494                   Rowan-Cabarrus Community College
2503  199962                                 Wingate University
3086  217891                                    Clinton College
3114  218672             University of South Carolina-Lancaster
3130  218964                                Winthrop University
3132  218991                             York Technical College
4238  408163                  Pinnacle Institute of Cosmetology
4469  432117     Kenneth Shuler School of Cosmetology-Rock Hill
4483  433174               Carolinas College of Health Sciences
4495  434292                       Anson College of Cosmetology
4671  442611                         NASCAR Technical Institute
4688  443076                          Hood Theological Seminary
4749  444486                  Paul Mitchell the School-Gastonia
4762  444778  Charlotte Christian College and Theological Se...
4791  445708               Johnson & Wales University-Charlotte
4981  450614                       Empire Beauty School-Concord
5015  451352                     Southeastern College-Charlotte
5286  459019                     Empire Beauty School-Charlotte
5289  459064                     Empire Beauty School-Pineville
5711  482565                    DeVry University-North Carolina
5812  484729               University of Phoenix-North Carolina
6051  489344              Chamberlain University-North Carolina
6211  492421                            No Grease Barber School
6311  494764        Aviation Institute of Maintenance-Charlotte

In [27]:
#This is code to concatenate together CIP Codes for the vocational programs from the cost files. It will not be needed.
#df1 = df_programs.loc[:,["UNITID","CIPCODE1"]]
#df2 = df_programs.loc[df_programs["CIPCODE2"] != -2.000,["UNITID","CIPCODE2"]]
#df3 = df_programs.loc[df_programs["CIPCODE3"] != -2.000,["UNITID","CIPCODE3"]]
#df4 = df_programs.loc[df_programs["CIPCODE4"] != -2.000,["UNITID","CIPCODE4"]]
#df5 = df_programs.loc[df_programs["CIPCODE5"] != -2.000,["UNITID","CIPCODE5"]]
#df6 = df_programs.loc[df_programs["CIPCODE6"] != -2.000,["UNITID","CIPCODE6"]]

#df1.rename(columns = {'CIPCODE1':'CIPCODE'}, inplace = True)
#df2.rename(columns = {'CIPCODE2':'CIPCODE'}, inplace = True)
#df3.rename(columns = {'CIPCODE3':'CIPCODE'}, inplace = True)
#df4.rename(columns = {'CIPCODE4':'CIPCODE'}, inplace = True)
#df5.rename(columns = {'CIPCODE5':'CIPCODE'}, inplace = True)
#df6.rename(columns = {'CIPCODE6':'CIPCODE'}, inplace = True)

#frames = [df1,df2,df3,df4,df5,df6]

#df_CIPS = pd.concat(frames)

#df_CIPS

In [28]:
#Create the NC programs file by merging NC schools with degree programs with an inner join
df_NCprograms = pd.merge(df_NCschools,df_degrees,on='UNITID', how ='inner')

In [29]:
df_NCprograms

     UNITID                                       INSTNM  CIPCODE
0    197850             South Piedmont Community College   1.0102
1    197850             South Piedmont Community College  11.0103
2    197850             South Piedmont Community College  11.0899
3    197850             South Piedmont Community College  12.0503
4    197850             South Piedmont Community College  13.1210
..      ...                                          ...      ...
836  492421                      No Grease Barber School  12.0402
837  492421                      No Grease Barber School  99.0000
838  494764  Aviation Institute of Maintenance-Charlotte  47.0607
839  494764  Aviation Institute of Maintenance-Charlotte  48.0503
840  494764  Aviation Institute of Maintenance-Charlotte  99.0000

[841 rows x 3 columns]

In [30]:
#Finally, join NC Programs with our CIP/SOC crosswalk 
df_NCprograms_withSOC = pd.merge(df_NCprograms,df_programslist,on='CIPCODE', how ='inner')
df_NCprograms_withSOC = df_NCprograms_withSOC.drop_duplicates()

In [31]:
df_NCprograms_withSOC

,UNITID,INSTNM,CIPCODE,CIPTitle,SOC,SOCTitle
0,197850,South Piedmont Community College,11.0103,Information Technology,15-1241.00,Computer Network Architects
1,197850,South Piedmont Community College,11.0103,Information Technology,15-1243.01,Data Warehousing Specialists
2,197850,South Piedmont Community College,11.0103,Information Technology,15-1243.00,Database Architects
3,197850,South Piedmont Community College,11.0103,Information Technology,15-1212.00,Information Security Analysts
4,197850,South Piedmont Community College,11.0103,Information Technology,15-1241.01,Telecommunications Engineering Specialists
...,...,...,...,...,...,...
294,482565,DeVry University-North Carolina,11.0501,Computer Systems Analysis/Analyst,15-1243.01,Data Warehousing Specialists
295,482565,DeVry University-North Carolina,11.0501,Computer Systems Analysis/Analyst,15-1243.00,Database Architects
296,482565,DeVry University-North Carolina,11.0501,Computer Systems Analysis/Analyst,15-1241.01,Telecommunications Engineering Specialists
297,482565,DeVry University-North Carolina,52.1201,"Management Information Systems, General",15-1243.01,Data Warehousing Specialists
298,482565,DeVry University-North Carolina,52.1201,"Management Information Systems, General",15-1243.00,Database Architects

In [32]:
df_NCprograms_withSOC.to_csv('ProgramsbySOC.csv', index=False)