In [1]:
# Importing the required libraries and dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Importing the school data -- institutional attributes
# Setting the path of the csv file
data_file = Path("./data/hd2020.csv")
df_schools = pd.read_csv(
    data_file,
    index_col=False
)

In [3]:
# Importing the completions data by program
# Setting the path of the csv file
data_file = Path("./data/c2020_a.csv")
df_completions = pd.read_csv(data_file,sep=',', index_col=False)
df_completions.describe()

,UNITID,CIPCODE,MAJORNUM,AWLEVEL,CTOTALT,CTOTALM,CTOTALW,CAIANT,CAIANM,CAIANW,...,CWHITW,C2MORT,C2MORM,C2MORW,CUNKNT,CUNKNM,CUNKNW,CNRALT,CNRALM,CNRALW
count,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,...,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000,289792.000000
mean,201988.956238,37.582756,1.074947,7.030826,36.654276,15.069236,21.585040,0.212566,0.079878,0.132688,...,10.981780,1.200696,0.474444,0.726252,1.455692,0.606980,0.848712,2.214105,1.174753,1.039352
std,86775.451021,23.712073,0.263306,5.679836,233.320867,99.778314,140.084484,2.332506,0.987062,1.496670,...,75.597962,8.871156,3.746503,5.347700,17.106864,7.327698,11.003606,29.349359,16.406542,13.736497
min,100654.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,149727.000000,14.420100,1.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,187532.000000,42.279900,1.000000,5.000000,5.000000,1.000000,2.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,220215.000000,51.100400,1.000000,7.000000,18.000000,7.000000,10.000000,0.000000,0.000000,0.000000,...,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,496423.000000,99.000000,2.000000,21.000000,24676.000000,9045.000000,17547.000000,477.000000,258.000000,219.000000,...,12794.000000,737.000000,312.000000,425.000000,3687.000000,1478.000000,2281.000000,4787.000000,2272.000000,2515.000000

In [4]:
# Importing the CIP-SOC Crosswalk
# Setting the path of the csv file
data_file = Path("./data/ONET_CIP-SOC_Crosswalk.csv")
# Importing the data file and setting the date column as the index column.
df_CIPlist = pd.read_csv(data_file,sep=',', index_col=False)

In [5]:
df_completions

,UNITID,CIPCODE,MAJORNUM,AWLEVEL,XCTOTALT,CTOTALT,XCTOTALM,CTOTALM,XCTOTALW,CTOTALW,...,XCUNKNM,CUNKNM,XCUNKNW,CUNKNW,XCNRALT,CNRALT,XCNRALM,CNRALM,XCNRALW,CNRALW
0,100654,1.0999,1,5,R,3,Z,0,R,3,...,Z,0,R,1,Z,0,Z,0,Z,0
1,100654,1.1001,1,5,R,7,R,2,R,5,...,Z,0,Z,0,Z,0,Z,0,Z,0
2,100654,1.1001,1,7,R,4,R,0,R,4,...,Z,0,Z,0,R,2,R,0,R,2
3,100654,1.1001,1,17,R,2,R,2,R,0,...,Z,0,Z,0,R,1,R,1,R,0
4,100654,1.9999,1,5,R,6,R,4,R,2,...,R,1,R,0,Z,0,Z,0,Z,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289787,496423,12.0413,1,21,R,0,R,0,R,0,...,R,0,R,0,R,0,R,0,R,0
289788,496423,12.0414,1,2,R,1,R,0,R,1,...,R,0,R,0,R,0,R,0,R,0
289789,496423,51.3501,1,21,R,0,R,0,R,0,...,R,0,R,0,R,0,R,0,R,0
289790,496423,99.0000,1,2,R,2,R,0,R,2,...,R,0,R,0,R,0,R,0,R,0
289791,496423,99.0000,1,21,R,4,R,0,R,4,...,R,0,R,0,R,0,R,0,R,0

In [6]:
#Slice completions data for just the institution, the program, the award level, and total completions
df_degrees = df_completions.loc[:,["UNITID","CIPCODE","AWLEVEL","CTOTALT"]]
#Aggregate completions by institution, program and award level
df_completions = df_degrees.groupby(["UNITID","CIPCODE","AWLEVEL"]).sum()

In [7]:
df_completions

                        CTOTALT
UNITID CIPCODE AWLEVEL
100654 1.0999  5              3
       1.1001  5              7
               7              4
               17             2
       1.9999  5              6
...                         ...
496423 12.0413 21             0
       12.0414 2              1
       51.3501 21             0
       99.0000 2              2
               21             4

[268073 rows x 1 columns]

In [8]:
df_completions.reset_index(inplace = True)

In [9]:
df_completions

        UNITID  CIPCODE  AWLEVEL  CTOTALT
0       100654   1.0999        5        3
1       100654   1.1001        5        7
2       100654   1.1001        7        4
3       100654   1.1001       17        2
4       100654   1.9999        5        6
...        ...      ...      ...      ...
268068  496423  12.0413       21        0
268069  496423  12.0414        2        1
268070  496423  51.3501       21        0
268071  496423  99.0000        2        2
268072  496423  99.0000       21        4

[268073 rows x 4 columns]

In [10]:
#Review CIPList. It is a crosswalk between programs and occupations.
df_CIPlist

,CIP,CIP_Title,SOC,SOC_Title
0,1.0000,"Agriculture, General",19-1011.00,Animal Scientists
1,1.0000,"Agriculture, General",19-1012.00,Food Scientists and Technologists
2,1.0000,"Agriculture, General",19-1013.00,Soil and Plant Scientists
3,1.0000,"Agriculture, General",19-4012.00,Agricultural Technicians
4,1.0000,"Agriculture, General",19-4012.01,Precision Agriculture Technicians
...,...,...,...,...
8495,61.9999,"Medical Residency/Fellowship Programs, Other",29-1229.03,Urologists
8496,61.9999,"Medical Residency/Fellowship Programs, Other",29-1229.04,Physical Medicine and Rehabilitation Physicians
8497,61.9999,"Medical Residency/Fellowship Programs, Other",29-1229.05,Preventive Medicine Physicians
8498,61.9999,"Medical Residency/Fellowship Programs, Other",29-1229.06,Sports Medicine Physicians
8499,61.9999,"Medical Residency/Fellowship Programs, Other",29-1249.00,"Surgeons, All Other"

In [11]:
# Change the column name for CIPCODE so it matches the other dataframes.
df_CIPlist.rename(columns = {'CIP':'CIPCODE'}, inplace = True)

In [12]:
#Filtered the schools dataframe to get a list of "local" schools as defined by the employer
df_NCschools = df_schools.loc[(df_schools["STABBR"] == 'NC'),["UNITID","INSTNM"]]

#df_NCschools = df_schools.loc[(df_schools["CBSA"] == 16740) | (df_schools["CBSA"] == 25860 ),["UNITID","INSTNM"]]
#df_NCschools = df_schools.loc[(df_schools["UNITID"] == 199740),["UNITID","INSTNM","CBSA"]]

In [13]:
#Reivew the NC Schools list
df_NCschools

      UNITID                                          INSTNM
2385  197814                        College of the Albemarle
2386  197850                South Piedmont Community College
2387  197869                    Appalachian State University
2388  197887  Asheville-Buncombe Technical Community College
2389  197911                                  Barton College
...      ...                                             ...
6059  489937                             Carolina University
6124  490948      Bull City Durham Beauty and Barber College
6211  492421                         No Grease Barber School
6278  494001                         Elevate Salon Institute
6311  494764     Aviation Institute of Maintenance-Charlotte

[167 rows x 2 columns]

In [14]:
#This is code to concatenate together CIP Codes for the vocational programs from the cost files. It will not be needed.
#df1 = df_programs.loc[:,["UNITID","CIPCODE1"]]
#df2 = df_programs.loc[df_programs["CIPCODE2"] != -2.000,["UNITID","CIPCODE2"]]
#df3 = df_programs.loc[df_programs["CIPCODE3"] != -2.000,["UNITID","CIPCODE3"]]
#df4 = df_programs.loc[df_programs["CIPCODE4"] != -2.000,["UNITID","CIPCODE4"]]
#df5 = df_programs.loc[df_programs["CIPCODE5"] != -2.000,["UNITID","CIPCODE5"]]
#df6 = df_programs.loc[df_programs["CIPCODE6"] != -2.000,["UNITID","CIPCODE6"]]

#df1.rename(columns = {'CIPCODE1':'CIPCODE'}, inplace = True)
#df2.rename(columns = {'CIPCODE2':'CIPCODE'}, inplace = True)
#df3.rename(columns = {'CIPCODE3':'CIPCODE'}, inplace = True)
#df4.rename(columns = {'CIPCODE4':'CIPCODE'}, inplace = True)
#df5.rename(columns = {'CIPCODE5':'CIPCODE'}, inplace = True)
#df6.rename(columns = {'CIPCODE6':'CIPCODE'}, inplace = True)

#frames = [df1,df2,df3,df4,df5,df6]

#df_CIPS = pd.concat(frames)

#df_CIPS

In [15]:
#Create the NC programs file by merging NC schools with the completions dataframe with an inner join
df_NCprograms = pd.merge(df_NCschools, df_completions, on='UNITID', how ='left')

In [16]:
df_NCprograms

,UNITID,INSTNM,CIPCODE,AWLEVEL,CTOTALT
0,197814,College of the Albemarle,1.0102,3.0,2.0
1,197814,College of the Albemarle,11.0103,3.0,5.0
2,197814,College of the Albemarle,11.0103,21.0,13.0
3,197814,College of the Albemarle,11.0201,3.0,0.0
4,197814,College of the Albemarle,12.0401,2.0,8.0
...,...,...,...,...,...
8956,494001,Elevate Salon Institute,99.0000,21.0,9.0
8957,494764,Aviation Institute of Maintenance-Charlotte,47.0607,4.0,0.0
8958,494764,Aviation Institute of Maintenance-Charlotte,48.0503,2.0,0.0
8959,494764,Aviation Institute of Maintenance-Charlotte,99.0000,2.0,0.0
8960,494764,Aviation Institute of Maintenance-Charlotte,99.0000,4.0,0.0

In [17]:
#Finally, join NC Programs with our CIP/SOC crosswalk 
df_NCprograms_withSOC = pd.merge(df_NCprograms,df_CIPlist,on='CIPCODE', how ='left')

In [18]:
df_NCprograms_withSOC

,UNITID,INSTNM,CIPCODE,AWLEVEL,CTOTALT,CIP_Title,SOC,SOC_Title
0,197814,College of the Albemarle,1.0102,3.0,2.0,Agribusiness/Agricultural Business Operations,11-9013.00,"Farmers, Ranchers, and Other Agricultural Mana..."
1,197814,College of the Albemarle,1.0102,3.0,2.0,Agribusiness/Agricultural Business Operations,25-1041.00,"Agricultural Sciences Teachers, Postsecondary"
2,197814,College of the Albemarle,11.0103,3.0,5.0,Information Technology,11-3021.00,Computer and Information Systems Managers
3,197814,College of the Albemarle,11.0103,3.0,5.0,Information Technology,15-1211.00,Computer Systems Analysts
4,197814,College of the Albemarle,11.0103,3.0,5.0,Information Technology,15-1211.01,Health Informatics Specialists
...,...,...,...,...,...,...,...,...
54816,494764,Aviation Institute of Maintenance-Charlotte,48.0503,2.0,0.0,Machine Shop Technology/Assistant,51-4194.00,"Tool Grinders, Filers, and Sharpeners"
54817,494764,Aviation Institute of Maintenance-Charlotte,48.0503,2.0,0.0,Machine Shop Technology/Assistant,51-4199.00,"Metal Workers and Plastic Workers, All Other"
54818,494764,Aviation Institute of Maintenance-Charlotte,48.0503,2.0,0.0,Machine Shop Technology/Assistant,51-9161.00,Computer Numerically Controlled Tool Operators
54819,494764,Aviation Institute of Maintenance-Charlotte,99.0000,2.0,0.0,NaN,NaN,NaN
54820,494764,Aviation Institute of Maintenance-Charlotte,99.0000,4.0,0.0,NaN,NaN,NaN

In [19]:
cols = df_NCprograms_withSOC.columns.tolist()

cols = ['UNITID','INSTNM','CIPCODE','CIP_Title','AWLEVEL','CTOTALT', 'SOC', 'SOC_Title']

df_NCprograms_withSOC = df_NCprograms_withSOC[cols]
#df_NCprograms_withSOC = df_NCprograms_withSOC.drop_duplicates()
df_NCprograms_withSOC

,UNITID,INSTNM,CIPCODE,CIP_Title,AWLEVEL,CTOTALT,SOC,SOC_Title
0,197814,College of the Albemarle,1.0102,Agribusiness/Agricultural Business Operations,3.0,2.0,11-9013.00,"Farmers, Ranchers, and Other Agricultural Mana..."
1,197814,College of the Albemarle,1.0102,Agribusiness/Agricultural Business Operations,3.0,2.0,25-1041.00,"Agricultural Sciences Teachers, Postsecondary"
2,197814,College of the Albemarle,11.0103,Information Technology,3.0,5.0,11-3021.00,Computer and Information Systems Managers
3,197814,College of the Albemarle,11.0103,Information Technology,3.0,5.0,15-1211.00,Computer Systems Analysts
4,197814,College of the Albemarle,11.0103,Information Technology,3.0,5.0,15-1211.01,Health Informatics Specialists
...,...,...,...,...,...,...,...,...
54816,494764,Aviation Institute of Maintenance-Charlotte,48.0503,Machine Shop Technology/Assistant,2.0,0.0,51-4194.00,"Tool Grinders, Filers, and Sharpeners"
54817,494764,Aviation Institute of Maintenance-Charlotte,48.0503,Machine Shop Technology/Assistant,2.0,0.0,51-4199.00,"Metal Workers and Plastic Workers, All Other"
54818,494764,Aviation Institute of Maintenance-Charlotte,48.0503,Machine Shop Technology/Assistant,2.0,0.0,51-9161.00,Computer Numerically Controlled Tool Operators
54819,494764,Aviation Institute of Maintenance-Charlotte,99.0000,NaN,2.0,0.0,NaN,NaN
54820,494764,Aviation Institute of Maintenance-Charlotte,99.0000,NaN,4.0,0.0,NaN,NaN

In [22]:
AtriumSOCList = [
'29-1141.00',
'29-2011.00',
'29-2032.00',
'29-2034.00',
'29-2042.00',
'29-2043.00',
'29-2055.00',
'29-2061.00',
'31-1131.00',
'31-9092.00'
]

df_AtriumPrograms = df_NCprograms_withSOC[df_NCprograms_withSOC['SOC'].isin(AtriumSOCList)]
df_AtriumPrograms

,UNITID,INSTNM,CIPCODE,CIP_Title,AWLEVEL,CTOTALT,SOC,SOC_Title
162,197814,College of the Albemarle,51.0801,Medical/Clinical Assistant,2.0,4.0,31-9092.00,Medical Assistants
164,197814,College of the Albemarle,51.0801,Medical/Clinical Assistant,3.0,0.0,31-9092.00,Medical Assistants
166,197814,College of the Albemarle,51.0909,Surgical Technology/Technologist,3.0,5.0,29-2055.00,Surgical Technologists
179,197814,College of the Albemarle,51.3801,Registered Nursing/Registered Nurse,3.0,23.0,29-1141.00,Registered Nurses
184,197814,College of the Albemarle,51.3901,Licensed Practical/Vocational Nurse Training,2.0,22.0,29-2061.00,Licensed Practical and Licensed Vocational Nurses
...,...,...,...,...,...,...,...,...
54023,460817,Platt College-Miller-Motte-Jacksonville,51.0801,Medical/Clinical Assistant,2.0,48.0,31-9092.00,Medical Assistants
54025,460817,Platt College-Miller-Motte-Jacksonville,51.0801,Medical/Clinical Assistant,3.0,1.0,31-9092.00,Medical Assistants
54187,481720,South University-High Point,51.3801,Registered Nursing/Registered Nurse,5.0,0.0,29-1141.00,Registered Nurses
54193,481720,South University-High Point,51.3805,Family Practice Nurse/Nursing,7.0,3.0,29-1141.00,Registered Nurses
54579,489344,Chamberlain University-North Carolina,51.3801,Registered Nursing/Registered Nurse,5.0,51.0,29-1141.00,Registered Nurses

In [23]:
AtriumSchoolsList = [
'197984',
'198109',
'433174',
'198215',
'198233',
'198260',
'489344',
'198321',
'248934',
'198561',
'198570',
'198710',
'198808',
'198835',
'198987',
'199023',
'482705',
'199306',
'199412',
'199494',
'197850',
'451352',
'199740',
'199139',
'218672',
'199962',
'218991'
]

df_AtriumPrograms = df_AtriumPrograms['UNITID'].isin(AtriumSchoolsList)
df_AtriumPrograms

162      False
164      False
166      False
179      False
184      False
         ...
54023    False
54025    False
54187    False
54193    False
54579    False
Name: UNITID, Length: 527, dtype: bool

In [ ]:
df_AtriumSchools = df_AtriumPrograms[['UNITID','INSTNM']]
df_AtriumSchools = df_AtriumSchools.drop_duplicates()
df_AtriumSchools = pd.merge(df_AtriumSchools, df_schools[['UNITID','WEBADDR']], on='UNITID', how ='left')
df_AtriumSchools

In [ ]:
list_AtriumPrograms = df_AtriumPrograms['SOC_Title'].drop_duplicates().tolist()
#series_AtriumPrograms = series_AtriumPrograms
#list_AtriumPrograms = series_AtriumPrograms.tolist()
list_AtriumPrograms

In [ ]:
df_AtriumContacts = df_AtriumPrograms[['INSTNM','SOC_Title','CTOTALT']]
df_AtriumContacts = pd.pivot_table(df_AtriumContacts, values='CTOTALT', index=['INSTNM'],
                    columns=['SOC_Title'], aggfunc=np.sum)
df_AtriumContacts.reset_index(inplace = True)

In [ ]:
df_AtriumPrograms.to_csv('AtriumPrograms.csv', index=False)
df_AtriumSchools.to_csv('AtriumSchools.csv', index=False)
df_AtriumContacts.to_csv('AtriumContacts.csv', index=False)